* {
  box-sizing: border-box;
}
body {
  background-color: rebeccapurple;
  color: white;
  align-items: center;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
}
